<p>this is the team page</p>
<p>click team name to edit or you can build a new team</p>
<% @teams.each do |team| %>
    <a href="/teams/<%=team.id%>/edit"><%= team.name %></a>
    <br>
    
<% end %>
<br>
<br>
<a href="/build-new-team">Build New Team</a>
