<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h2>Welcome to the Guild Ball Team Organizer</h2>

    <nav>
    <a href="signup">Sign Up</a>
    <a href="login">Log In</a>
    </nav>

    </body>


</html>